@charset "EUC-KR";

html,
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.navbar__profile {
  display: flex;
  list-style: none;
}

.navbar__menu {
  width: 20%;
  padding-left: 0;
  display: none;
  flex-direction: column;
  list-style: none;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: cornflowerblue;
  border-radius: 4px;
}

.navbar__menu.active {
  background-color: darkgray;
  float: right;
  display: flex;
  flex-direction: column;
}

h1 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  background: white;
  margin: 0;
  line-height: 60px;
}
section .box {
  height: 500px;
  background: wheat;
}
section .box p {
  margin: 0;
  color: white;
  padding: 80px 20px;
}
section .box:nth-child(2n) {
  background: silver;
}

div.snshead > span > #storename {
  color: blue;
  display: inline;
  font-size: xx-large;
  margin: 0px;
  vertical-align: top;
}

div.snshead > span > #dongname {
  color: red;
  display: inline;
  font-size: small;
  vertical-align: middle;
}

div.snshead > span > #storekind {
  color: yellowgreen;
  display: inline;
  font-size: small;
  vertical-align: middle;
}
div.snshead.a > img {
  display: inline;
}

div.snshead > .tap {
  text-align: center;
  border-bottom: 1px solid;
}
div.snshead > .tap > button {
  background-color: white;
  border: none;
  cursor: pointer;

  align-items: center;
  justify-content: center;
}

.clicked {
  color: silver;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.image-upload {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
}

label {
  cursor: pointer;
  font-size: 1em;
}

#chooseFile {
  visibility: hidden;
}

.fileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileInput {
  display: flex;
  align-items: center;

  width: 60%;
  height: 30px;
}

#fileName {
  margin-left: 5px;
}

.buttonContainer {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  font-size: 0.8em;

  cursor: pointer;
}

.image-show {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.img {
  position: absolute;
}
#image-upload > form > div > label {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: white;
  padding: 3px;
}
