


html, body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}


/*  */

.searchBar {
	text-align: center;
}
.navbar {
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.navbar__profile {
  display: flex;
  list-style: none;
}

.navbar__menu {
  width: 20%;
  padding-left: 0;
  display: none;
  flex-direction: column;
  list-style: none;
}

.navbar__menu.active {
  background-color: darkgray;
  float: right;
  display: flex;
  flex-direction: column;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: cornflowerblue;
  border-radius: 4px;
}



/*  */
section {
	text-align: center;
}



.simpleLook{
	width : 50%;	
	background-color: yellow;
  	display:inline-block;
  	flex-direction: column;
}


div > .img {
	width : 30%;
	height : 100%;
	float: left;
	margin: auto auto;
	border-right : 1px solid;
}

div > .img2 {
	width : 30%;
	height : 100%;
	float: left;
	margin: auto;
}
img {
	width : 50%;
	vertical-align:middle;
}

.hoho {
	width : 68%;
	height : 100%;
	float: left;
	padding-left: 3px;
}

.hoho2 {
	width : 68%;
	height : 100%;
	float: left;
	padding-left: 3px;
	border-left : 1px solid;
}
.notimg {
	float: left;
	display: block;
}

.closerLook{
	background-color: grey;
	display: inline-block;
  	flex-direction: column;
  	width : 50%;	
}

.closerLook.active{
	background-color: grey;
  	display: inline-block;
  	flex-direction: column;
}

.secretLook{
	background-color: green;
	display: inline-block;
  	flex-direction: column;
  	width : 50%;	
}

.secretLook.active{
	background-color: green;
	float: left;
  	display: flex;
  	flex-direction: column;
}

/*  */


h1 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  background: white;
  margin: 0;
  line-height: 60px;
}

section {
	width :100%;
}

section .box {
  height: 500px;
  background: wheat;
}
section .box p {
  margin: 0;
  color:  black;
  padding: 80px 20px;
}
section .box:nth-child(2n) {
  background: silver;
}

div.snshead > span > #storename {
  color: blue;
  display: inline;
  font-size: xx-large;
  margin: 0px;
  vertical-align: top;
}

div.snshead > span > #dongname {
  color: red;
  display: inline;
  font-size: small;
  vertical-align: middle;
}

div.snshead > span > #storekind {
  color: yellowgreen;
  display: inline;
  font-size: small;
  vertical-align: middle;
}
div.snshead.a > img {
  display: inline;
}

div.snshead > .tap {
  text-align: center;
  border-bottom: 1px solid;
}
div.snshead > .tap > button {
  background-color: white;
  border: none;
  cursor: pointer;

  align-items: center;
  justify-content: center;
}

.clicked {
  color: silver;
}

.container {
  width: 500px;
  margin: 0 auto;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current {
  background: #ededed;
  color: #222;
}

.tab-content {
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current {
  display: inherit;
}
