@charset "EUC-KR";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
}

.mypage {
  width: 30%;
  height: 600px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

h2 {
  color: tomato;
  font-size: 2em;
  margin-bottom: 40px;
  text-align: center;
}

h4 {
  margin: 30px 0px;
  padding-left: 10px;
}

.submit {
  margin: 10px;
  width: 90%;
  padding-left: 5%;
}
.submit input {
  width: 100%;
  height: 50px;
  border-width: 0.1em;
  border-radius: 5px 5px 5px 5px;
  /* background: linear-gradient(to left, rgb(31, 107, 170), rgb(27, 212, 120)); */
  background: white;
  font-size: 1em;
  letter-spacing: 1px;
}

hr {
  width: 95%;
  margin: 10px auto;
}

.imgAndNick {
  display: inline-block;
  padding-left: 10px;
  height: 70px;
}

.profilediv {
  width: 50px;
  height: 50px;
  border-radius: 70%;
  overflow: hidden;
  margin-bottom: 50px;
  float: left;
}

.profile {
  width: 100%;
}

.nick {
  float: left;
  padding-left: 20px;
}

.plus {
  margin: 1px 10px;
}
.sub {
  float: left;
}
.icon1 {
  float: right;
}